Gist*foreground: #93A1A1
Gist*background: #002B36
!Gist*foreground: white
!Gist*background: black
!Gist*foreground: black
!Gist*background: white
!            X resource                     program override variable
!  --------------------------------------   -------------------------
!  boldfont (preferred) or font (or Font)          x_xfont
!  foreground (or Foreground)                      x_foreground
!  background (or Background)                      x_background

Xft.lcdfilter: lcddefault

! solarized
! base03    #002B36
! base02    #073642
! base01    #586E75
! base00    #839496
! base0     #657B83
! base1     #93A1A1
! base2     #EEE8D5
! base3     #FDF6E3
! yellow    #B58900
! orange    #CB4B16
! red       #DC322F
! magenta   #D33682
! violet    #6C71C4
! blue      #268BD2
! cyan      #2AA198
! green     #859900
