include NOTES.developer HISTORY MANIFEST.in VERSION README setup.py config_pygist.py RELEASE release.msg ChangeLog
recursive-include gist *
recursive-include yorick *
recursive-include plugin *
# fixme - should rely on Make.cfg
exclude yorick/play/unix/config.h
